name: Playwright Cucumber Tests
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
    types: [opened, reopened, ready_for_review, synchronize]

jobs:
  ui-tests:
    name: ui-tests
    if: ${{ !contains(github.event.head_commit.message, '[skip-tests]') }}
    # Skip if [skip-tests] is in commit message
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
        if: steps.playwright-cache.outputs.cache-hit != 'true'

      - name: Run UI tests
        run: npx cucumber-js tests/features/ui/*.feature

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: ui-test-report
          path: cucumber-report/
          retention-days: 30

  api-tests:
    name: api-tests
    if: ${{ !contains(github.event.head_commit.message, '[skip-tests]') }}
    # Skip if [skip-tests] is in commit message
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Install dependencies
        run: npm ci

      - name: Run API tests
        run: npx cucumber-js tests/features/api/*.feature

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: api-test-report
          path: cucumber-report/
          retention-days: 30
